[package]
name = "resource_test_rust"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["cdylib"]

[dependencies]
godot = { version = "0.4.4", features = [
  "register-docs",
  "experimental-threads",
] }
as_gd_res = { path = "../as_gd_res" }
